<div
  class="relative w-24 h-24 rounded-full bg-white/5 flex items-center justify-center border border-white"
>
  <div
    *ngFor="let tick of ticks"
    [ngStyle]="tick.style"
    class="absolute bg-white rounded-full"
  ></div>
  <div
    class="absolute left-[20%] w-[30%] h-[2.5%] bg-white origin-right rounded-full border border-emerald-500/10"
    [ngStyle]="hourStyle"
  ></div>
  <div
    class="absolute left-[10%] w-[40%] h-[1.5%] bg-white/80 origin-right rounded-full"
    [ngStyle]="minuteStyle"
  ></div>
  <div
    class="absolute left-[5%] w-[45%] h-[1%] bg-emerald-600 origin-right rounded-full"
    [ngStyle]="secondStyle"
  ></div>
  <div class="absolute w-[6%] h-[6%] bg-white rounded-full"></div>
</div>
