<ng-container *ngIf="grid.length > 0">
  <div
    class="grid border border-white/10 rounded-xl overflow-hidden"
    [ngStyle]="gridStyle"
  >
    <ng-container *ngFor="let positionX of grid">
      <div
        *ngFor="let positionY of positionX"
        class="bg-white/5 w-full text-center text-white py-4 text-xs font-bold"
      >
        {{ positionY }}
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="grid.length <= 0">
  <h3 class="text-white/80 font-semibold text-center my-4">
    No grid generated
  </h3>
</ng-container>
